html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
} ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }

#root {
  height: 100vh;
  min-height: 500px;
}

body, root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.map-container, .map-component {
  width: 100vw;
  max-width: 800px;
  height: 50vh;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 100;
}

h1 {
  padding: 20px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  min-width: 300px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.search-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.city-input, .date-picker, .search-button {
  margin: 15px;
}

.results-view {
  position: relative;
  max-width: 800px;
  height: 100%;
}

.results-list-component {
  max-height: 50vh;
  overflow: scroll;
  padding: 0px;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(15vh);
}

.result-component {
  height: 15vh;
}

.empty-extra-block {
  height: calc(30vh);
}

.highlighted-result {
  border-left: solid #00BCD4;
}

.non-highlighted-result {
  border-left: solid transparent;
}

